*.s#?
*.b#?
*.pro

Debug/
Release/
*.sdf
*.opensdf
*.ilk
*.exe
*.pdb
*.suo

dist/
build/
*.err
*.map
Object/
*.o
midicontroller.cof
*.lst

v2/controller/go-ui/go-ui
v2/controller/flash_manager/flash_manager
v2/controller/Win32/flash.bin

.DS_Store
Thumbs.db

.idea/
