*.s#?
*.b#?
*.pro

Debug/
Release/
x64/
*.sdf
*.opensdf
*.ilk
*.exe
*.pdb
*.suo
*.iml

dist/
build/
*.err
*.mcs
Object/
*.o
midicontroller.cof
*.lst

v2/controller/go-ui/go-ui
v2/controller/flash_manager/flash_manager
v2/controller/flash_manager/all_programs-v2-gen.yml

.DS_Store
Thumbs.db

.idea/

uart-out.txt

cmake-build-debug/
