body {
    background: #000008;
    color: #999;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5 {
    color: #bbb;
}

h1, h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: -1em;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

h5 {
    padding: 0;
    margin: 0;
}

nav > a {
    text-align: center;
    font-weight: bold;
    background: #121220;
    color: #fff;
    float: left;
    margin-top: 4px;
    margin-right: 1px;
    padding: 10px 16px 10px 16px;
    min-width: 5.5em;
}

dl {
    margin-bottom: 1em;
}

    dl dt {
        background: #101020;
        color: #fff;
        clear: left;
        float: left;
        margin-top: 2px;
        margin-right: 10px;
        padding: 12px;
        width: 100px;
    }

    dl dd {
        margin: 2px 0;
        padding: 0px 0;
    }

.content {
    max-width: 45em;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

img {
    border: none;
}

/* NOTE(jsd): More web FAIL. No way for FF to set custom scrollbar. */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.10),inset 0 -1px 0 rgba(255, 255, 255, 0.07);
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* syntax highlighting */

pre.code-block {
    margin: 0;
    margin-left: 2em;
    background-color: black;
    overflow: auto;
}

code {
    margin: 0;
    font-family: 'Anonymous Pro', Consolas, 'Courier New', monospace;
    font-size: 11pt;
}

code .comment {
    color: #5F5A60;
}

code .constant.numeric {
    color: #D87D50;
}

code .constant {
    color: #889AB4;
}

    code .constant.symbol, pre .constant.language {
        color: #D87D50;
    }

code .storage {
    color: #F9EE98;
}

code .string {
    color: #8F9D6A;
}

    code .string.regexp {
        color: #E9C062;
    }

code .keyword, code .selector, code .storage {
    color: #CDA869;
}

code .inherited-class {
    color: #9B5C2E;
}

code .entity {
    color: #FF6400;
}

code .support {
    color: #9B859D;
}

    code .support.magic {
        color: #DAD69A;
    }

code .variable {
    color: #7587A6;
}

code .function, code .entity.class {
    color: #9B703F;
}

code .support.class-name, code .support.type {
    color: #AB99AC;
}
