// $Id: 18f4550.lkr
// File: 18f4550.lkr
// Sample linker script for the PIC18F4550 processor

LIBPATH C:\mplabc18\v3.46\lib

// for non-extended mode:
FILES clib.lib
FILES p18f4550.lib

// for extended mode:
//FILES clib_e.lib
//FILES p18f4550_e.lib

CODEPAGE   NAME=BootStartup  START=0x0000       END=0x0000BF       PROTECTED
CODEPAGE   NAME=Bootloader   START=0x0C0        END=0x000FFF       PROTECTED

CODEPAGE   NAME=page         START=0x001000       END=0x0053FF
CODEPAGE   NAME=romdata      START=0x005400       END=0x007FFF       PROTECTED
CODEPAGE   NAME=idlocs       START=0x200000       END=0x200007       PROTECTED
CODEPAGE   NAME=config       START=0x300000       END=0x30000D       PROTECTED
CODEPAGE   NAME=devid        START=0x3FFFFE       END=0x3FFFFF       PROTECTED
CODEPAGE   NAME=eedata       START=0xF00000       END=0xF000FF       PROTECTED

ACCESSBANK NAME=accessram    START=0x000000       END=0x00005F
DATABANK   NAME=gpr0         START=0x000060       END=0x0000FF
DATABANK   NAME=gpr1         START=0x000100       END=0x0001FF
DATABANK   NAME=gpr2         START=0x000200       END=0x0002FF
DATABANK   NAME=gpr3         START=0x000300       END=0x0003FF
DATABANK   NAME=usb4         START=0x000400       END=0x0004FF       PROTECTED
DATABANK   NAME=usb5         START=0x000500       END=0x0005FF       PROTECTED
DATABANK   NAME=usb6         START=0x000600       END=0x0006FF       PROTECTED
DATABANK   NAME=usb7         START=0x000700       END=0x0007FF       PROTECTED
ACCESSBANK NAME=accesssfr    START=0x000F60       END=0x000FFF       PROTECTED

STACK SIZE=0x100 RAM=usb7

SECTION    NAME=BOOTLOADER   ROM=Bootloader
SECTION    NAME=BOOTSTARTUP  ROM=BootStartup
